In [191]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd 
import lxml
import re

short_names = ['chi', 'col', 'dal', 'min', 'nsh', 'stl', 'wpg',           # Central Division
               'ana', 'ari', 'cgy', 'edm', 'los', 'san', 'van',           # Pacific Division
                'bos', 'buf', 'det', 'fla', 'mon', 'ott', 'tam', 'tor',   # Atlantic Division
                'car', 'cls', 'njd', 'nyi', 'nyr', 'phi', 'pit', 'was']   # Metropolitan Division

short_lst = ['cls'] 
baseUrl = 'http://espn.go.com/nhl/team/roster/_/name/{city}'

for city in short_lst:
    cur_url = (baseUrl.format(city=city)) 
    driver = webdriver.Chrome() 
    driver.set_page_load_timeout(30) 
    driver.get(cur_url) 
    source = driver.page_source 
    soup = BeautifulSoup(source, 'lxml') 
    team_data = soup.findAll('div',{'class':'mod-content'}) 
    team_data = team_data[0] 
    driver.close()

In [307]:
team_data= str(team_data) 
team_soup = BeautifulSoup(team_data, 'lxml')
#result = re.search('<td>(.*)</td>', team_data)

In [308]:
tag_lst = team_soup.findAll('td') 
out_info = [] 
for tag in tag_lst:  
    x = re.search('<td>(.*)</td>', str(tag)) 
    if x is not None:
        out_info.append(x.group(1))

In [309]:
# Remove headers
player_info = out_info[8:] 
# Delete coach
del player_info[-1]

In [310]:
# check for all fields
len(player_info) % 8

0

In [311]:
i=0
new_list=[]
while i<len(player_info):
  new_list.append(player_info[i:i+8])
  i+=8

In [312]:
player_df = pd.DataFrame(new_list)

In [313]:
player_df.columns = ['number','name','age','height','weight','shot','birthplace','birthday']

In [314]:
def get_name(x): 
    try: 
        z = re.search('<[tag][^>]*>(.+?)</[tag]>', x).group(1)  
    except: 
        z = '' 
    return z

In [315]:
player_df['name'] = player_df['name'].apply(get_name)

In [316]:
def flag_empty(x):
    if x == '': 
        f = 1 
    else: 
        f = 0
    return f

player_df['pos'] = player_df['name'].apply(flag_empty)

In [317]:
pos_list = ['C','LW','RW','D','G'] 
assign_pos = []
for i in player_df['pos']:  
    if i == 0: 
        assign_pos.append(pos_list[0]) 
    else: 
        assign_pos.append(pos_list[0]) 
        del pos_list[0]

In [318]:
player_df['pos'] = assign_pos  
#Removes the blank player lines
player_df = player_df[player_df.name != ''] 
player_df['team'] = city  
cur_date = datetime.date.today().strftime('%Y-%m-%d')
player_df['updated'] = cur_date
player_df

,number,name,age,height,weight,shot,birthplace,birthday,pos,team,updated
0,9,Gregory Campbell,32,6-0,197,L,"London, Ontario",12/17/83,C,cls,2016-04-23
1,17,Brandon Dubinsky,29,6-1,210,L,"Anchorage, Alaska",4/29/86,C,cls,2016-04-23
2,38,Boone Jenner,22,6-2,202,L,"Dorchester, Ontario",6/15/93,C,cls,2016-04-23
3,25,William Karlsson,23,6-0,185,L,"Marsta, Sweden",1/8/93,C,cls,2016-04-23
4,41,Alexander Wennberg,21,6-1,190,L,"Stockholm, Sweden",9/22/94,C,cls,2016-04-23
6,18,Rene Bourque,34,6-2,214,L,"Lac La Biche, Alberta",12/10/81,LW,cls,2016-04-23
7,11,Matt Calvert,26,5-10,187,L,"Brandon, Manitoba",12/24/89,LW,cls,2016-04-23
8,71,Nick Foligno,28,6-0,210,L,"Buffalo, New York",10/31/87,LW,cls,2016-04-23
9,43,Scott Hartnell,34,6-2,210,L,"Regina, Saskatchewan",4/18/82,LW,cls,2016-04-23
10,20,Brandon Saad,23,6-1,202,L,"Pittsburgh, Pennsylvania",10/27/92,LW,cls,2016-04-23
12,13,Cam Atkinson,26,5-7,173,R,"Riverside, Connecticut",6/5/89,RW,cls,2016-04-23
13,40,Jared Boll,29,6-2,219,R,"Charlotte, North Carolina",5/13/86,RW,cls,2016-04-23
14,23,David Clarkson,32,6-1,200,R,"Mimico, Ontario",3/31/84,RW,cls,2016-04-23
16,44,Justin Falk,27,6-5,215,L,"Snowflake, Manitoba",10/11/88,D,cls,2016-04-23
17,29,Cody Goloubef,26,6-1,190,R,"Mississauga, Ontario",11/30/89,D,cls,2016-04-23
18,7,Jack Johnson,29,6-1,231,L,"Indianapolis, Indiana",1/13/87,D,cls,2016-04-23
19,3,Seth Jones,21,6-5,210,R,"Arlington, Texas",10/3/94,D,cls,2016-04-23
20,46,Dean Kukan,22,6-2,198,L,,7/8/93,D,cls,2016-04-23
21,27,Ryan Murray,22,6-1,201,L,"Regina, Saskatchewan",9/27/93,D,cls,2016-04-23
22,47,Dalton Prout,26,6-3,219,R,"Windsor, Ontario",3/13/90,D,cls,2016-04-23
23,58,David Savard,25,6-2,219,R,"St. Hyacinthe, Quebec",10/22/90,D,cls,2016-04-23
24,51,Fedor Tyutin,32,6-2,216,L,"Izhevsk, USSR",7/19/83,D,cls,2016-04-23
26,72,Sergei Bobrovsky,27,6-2,190,L,"Novokuznetsk, USSR",9/20/88,G,cls,2016-04-23
27,70,Joonas Korpisalo,21,6-3,182,L,"Pori, Finland",4/28/94,G,cls,2016-04-23
28,30,Curtis McElhinney,32,6-2,207,L,"London, Ontario",5/23/83,G,cls,2016-04-23

In [265]:
#insert this shit into a db of some sort

In [266]:
import datetime
datetime.date.today().strftime('%Y-%m-%d')

'2016-04-23'

In [267]:
from sqlalchemy import create_engine 
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hockey')

In [268]:
for index, row in player_df.iterrows(): 
    print row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9]

9 Gregory Campbell 32 6-0 197 L London, Ontario 12/17/83 0 C
17 Brandon Dubinsky 29 6-1 210 L Anchorage, Alaska 4/29/86 0 C
38 Boone Jenner 22 6-2 202 L Dorchester, Ontario 6/15/93 0 C
25 William Karlsson 23 6-0 185 L Marsta, Sweden 1/8/93 0 C
41 Alexander Wennberg 21 6-1 190 L Stockholm, Sweden 9/22/94 0 C
18 Rene Bourque 34 6-2 214 L Lac La Biche, Alberta 12/10/81 0 LW
11 Matt Calvert 26 5-10 187 L Brandon, Manitoba 12/24/89 0 LW
71 Nick Foligno 28 6-0 210 L Buffalo, New York 10/31/87 0 LW
43 Scott Hartnell 34 6-2 210 L Regina, Saskatchewan 4/18/82 0 LW
20 Brandon Saad 23 6-1 202 L Pittsburgh, Pennsylvania 10/27/92 0 LW
13 Cam Atkinson 26 5-7 173 R Riverside, Connecticut 6/5/89 0 RW
40 Jared Boll 29 6-2 219 R Charlotte, North Carolina 5/13/86 0 RW
23 David Clarkson 32 6-1 200 R Mimico, Ontario 3/31/84 0 RW
44 Justin Falk 27 6-5 215 L Snowflake, Manitoba 10/11/88 0 D
29 Cody Goloubef 26 6-1 190 R Mississauga, Ontario 11/30/89 0 D
7 Jack Johnson 29 6-1 231 L Indianapolis, Indiana 1/13/87 0 D
3 Seth Jones 21 6-5 210 R Arlington, Texas 10/3/94 0 D
46 Dean Kukan 22 6-2 198 L  7/8/93 0 D
27 Ryan Murray 22 6-1 201 L Regina, Saskatchewan 9/27/93 0 D
47 Dalton Prout 26 6-3 219 R Windsor, Ontario 3/13/90 0 D
58 David Savard 25 6-2 219 R St. Hyacinthe, Quebec 10/22/90 0 D
51 Fedor Tyutin 32 6-2 216 L Izhevsk, USSR 7/19/83 0 D
72 Sergei Bobrovsky 27 6-2 190 L Novokuznetsk, USSR 9/20/88 0 G
70 Joonas Korpisalo 21 6-3 182 L Pori, Finland 4/28/94 0 G
30 Curtis McElhinney 32 6-2 207 L London, Ontario 5/23/83 0 G

In [319]:
import sqlalchemy
from sqlalchemy.orm import sessionmaker


# Set up of the engine to connect to the database
# the urlquote is used for passing the password which might contain special characters such as "/"
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hockey')
conn = engine.connect()
tableToWriteTo = 'roster_players'

# Panda to create a lovely dataframe
# df_to_be_written = pd.read_csv(fileToRead)
# The orient='records' is the key of this, it allows to align with the format mentioned in the doc to insert in bulks.
listToWrite = player_df.to_dict(orient='records')

metadata = sqlalchemy.schema.MetaData(bind=engine,reflect=True)
table = sqlalchemy.Table(tableToWriteTo, metadata, autoload=True)

# Open the session
Session = sessionmaker(bind=engine)
session = Session()

# Inser the dataframe into the database in one bulk
conn.execute(table.insert(), listToWrite)

# Commit the changes
session.commit()

# Close the session
session.close()

/home/alkal/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.